.menuarea{
position: fixed;
width: 100%;
z-index: 100;
}
.managermain{
	padding-top: 50px;
}
.panlarea + div{
background-color: white;
width: 800px;
margin:0 auto;
padding: 12px 20px;
margin-top: 6px;
border-radius: 24px;
text-align: center;
border-color: #ccc;
border-style: solid;
border-width: 2px;	
}
