@model NetworkSellFood.WebUser

@{
    if(Model != null){
    	ViewBag.Title = "欢迎 "+Model.NickName+" 的到来";
    }else{
    	ViewBag.Title = "欢迎游客";
    }
    Layout = "~/Views/Shared/master.cshtml";
    ViewBag.Footer = true;
}
@section head{
}
<h2>GoodsInfo</h2>

